<style type="text/css" media="screen">
  .list-group-item .card {
    display: inline!important;
  }

  .list-group-item .card .card-img-top {
    float: left;
    width: 20%;
  }

  .list-group-item .card .card-body {
    float: left;
    width: 60%;
  }

  .list-group-item .card .card-body {
    float: left;
    width: 20%;
  }

</style>
<div class="card-deck list-group-item">
  <div class="col-md-4 mb-5 item isotopeSelector 7night outofseason" style="position: absolute; left: 0px; top: 0px;">
    <div class="probootstrap-animate fadeInUp probootstrap-animated">
      <div class="card">
        <div class="card-img-top">
          <div class="owl-carousel hajj-slider owl-loaded owl-drag">
            <div class="owl-stage-outer">
              <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 636px;">
                <div class="owl-item active" style="width: 318px;"><img src="https://www.royaltravel.co.uk/images/conrad-makkah-ext_1/gallery_master/?m=nbf" alt=""></div>
                <div class="owl-item" style="width: 318px;"><img src="https://www.royaltravel.co.uk/images/hilton-madinah-ext_2/gallery_master/?m=nbf" alt=""></div>
              </div>
            </div>
            <div class="owl-nav">
              <button role="presentation" class="owl-prev disabled"><span class="ion-chevron-left"></span></button>
              <button role="presentation" class="owl-next"><span class="ion-chevron-right text-small"></span></button>
            </div>
            <div class="owl-dots disabled"></div>
          </div>
          <div class="img-layer">
            <p> Platinum - 7 Nights <em>from</em> <span class="font-weight-bold price defcolour">£1,040</span>pp</p>
          </div>
        </div>

        <div class="card-body">
          <p class="agentinfo"><span class="green">Agent: </span><a href="https://www.royaltravel.co.uk/holiday/platinum-7-night-umrah-aaf47e12b7e7c493463ac831e732ba50" data-agent="Royal Travel - Umrah" target="_blank">Royal Travel</a></p>
          <p class="agentinfo"><span class="green">Season: </span> <span class="red">out of season</span></p>
          <p> <span class="green d-block">Makkah Hotel: </span><span class="red">Conrad</span> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <span>(4 Nights)</span> </p>
          <p> <span class="green d-block">Madina Hotel: </span><span class="red"> Hilton</span> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <span>(3 Nights)</span> </p>
          <p class="mt-3"> <a href="https://www.royaltravel.co.uk/holiday/platinum-7-night-umrah-aaf47e12b7e7c493463ac831e732ba50" class="btn btn-primary btn-block" data-agent="Royal Travel - Umrah" target="_blank">Book with Royal Travel</a> </p>
        </div>
        <div class="card-footer">
          <p> <i class="fas fa-utensils" data-toggle="tooltip" data-placement="top" title="" data-original-title="Breakfast Included"></i> <i class="fa fa-plane" data-toggle="tooltip" data-placement="top" title="" data-original-title="Flights Included"></i> <i class="fas fa-money-check" data-toggle="tooltip" data-placement="top" title="" data-original-title="Visa Included"></i> <i class="fas fa-bus-alt" data-toggle="tooltip" data-placement="top" title="" data-original-title="Airport Transfers"></i> <i class="fas fa-walking" data-toggle="tooltip" data-placement="top" title="" data-original-title="240 Meters from Haram"></i> </p>
        </div>
      </div>
    </div>
  </div>
</div>
